server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
      routes:
        - id: patient-service
          uri: lb://patient-service
          predicates:
            - Path=/api/patients/**
        - id: appointment-service
          uri: lb://appointment-service
          predicates:
            - Path=/api/appointments/**
        - id: reminder-service
          uri: lb://reminder-service
          predicates:
            - Path=/api/reminders/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
